/*
  Josh's Custom CSS Reset
  https://www.joshwcomeau.com/css/custom-css-reset/
*/

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}
p {
  text-wrap: pretty;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  text-wrap: balance;
}
#root,
#__next {
  isolation: isolate;
}

/* End of CSS Reset */

:root {
  --main-black-bg: rgba(0, 0, 0, 0.432);
  --main-white-text: white;
  --main-gold-bg: #f5ca5de6;
}

body {
  background: no-repeat center/100% url('./images/jolly-roger.jpg');
  color: var(--main-white-text);
}

header {
  display: flex;
  justify-content: center;
  background-color: var(--main-black-bg);
}

header nav {
  display: flex;
  gap: 2rem;
}

header nav button {
  background-color: var(--main-gold-bg);
  color: var(--main-white-text);
  border-radius: 1rem;
  padding: 0.5rem 1rem;
}

img {
  height: 350px;
  width: 350px;
}
